<nav class="navbar navbar-expand-lg navbar-blue bg-dark text-white ">
    <div class="container">
        <div class="custom-flex-prop">
            <a class="navbar-brand" >E-Commerce with Firebase</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav" >
            <li class="nav-item" *ngIf="isAuthenticated" routerLinkActive="active">
                
                <a class="nav-link" [routerLink]="['./home']" style="cursor: pointer;" >
                   Home
                    
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item"  *ngIf="isAuthenticated" routerLinkActive="active">
                <a class="nav-link" style="cursor: pointer;" [routerLink]="['./product']" >Products</a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" >Drinks & Beverages</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" >Contact</a>
            </li> -->
            <li class=" nav-item ">
               <!-- <button  mat-raised-button color="primary" > Logout</button> -->
               

            </li>
        </ul>
        <button mat-button color="primary" class="text-white" (click)="onLogout()" *ngIf="isAuthenticated">
            <mat-icon>logout</mat-icon>
            Logout

        </button>
        </div>
        <!-- <div class="collapse navbar-collapse justify-content-between custom-flex-prop" id="navbarResponsive">

        </div> -->
    </div>
</nav>
