.mat-raised-button{
    top: 7px;
    
}

.nav-item{
    justify-content: space-between;
}

@media (min-width: 992px){
    .custom-flex-prop {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }
}