<nav class="navbar navbar-expand-lg navbar-blue bg-blue">
    <div class="container">
        <a class="navbar-brand" >E-Commerce with Firebase</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    
                    <a class="nav-link" >
                       Home
                        
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" >Products</a>
                </li>
                <!-- <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" >Drinks & Beverages</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" >Contact</a>
                </li> -->
                <li class=" nav-item ">
                   <!-- <button  mat-raised-button color="primary" > Logout</button> -->
                   <button mat-button color="primary">
                       <mat-icon>logout</mat-icon>
                       Logout

                   </button>

                </li>
            </ul>
        </div>
    </div>
</nav>
