<div class="container vh-100">
  <div class="row justify-content-center h-100">
    <div class="card my-auto shadow">
      <div class="card-body px-5">
        <div class="text-center">
          <!-- <fa-icon [icon]="faLock" class="fa-3x"></fa-icon> -->
        </div>
        <div class="text-center">
          <h3>Welcome <br>To<br> E-Commerce</h3>
        </div>
        <p style="color: lightslategray; text-align: center;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your {{isLoginMode?'login':'signup'}}
          details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <mat-card>
          <mat-card-content>

            <!-- <h2>Log In</h2> -->
            <!-- <mat-error >
                              The username and password were not recognized
                            </mat-error> -->
            <!-- <div class="alert alert-danger my-4" >
                             
                            </div> -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-form-field>
                <input matInput placeholder="Email" name="username" formControlName="email" required>

              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" placeholder="Password" name="password" minlength="4" formControlName="password" required>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">{{isLoginMode? 'Login' : 'SignUp'}}</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-footer text-right">
        <small><a (click)="onSwitchMode()" style="cursor: pointer;">{{isLoginMode?'Not Registered? Signup':'Already have an account? Login'}}</a></small>

      </div>

    </div>
  </div>
</div>