<div class="container pt-5 pb-5">
    <div class="col-12">
        <button class="btn btn-primary" [routerLink]="['../product-add']">
            Add Product
        </button>
        <div class="d-flex flex-wrap justify-content-between">
            
            <div class="card shadow mt-2" *ngFor="let prodItem of prod;let i=index">
                
                <div class="card-body">
                    <h5 class="card-title">{{prodItem.product_name}}</h5>
                    <span class="pull-right">
                        <img [src]="prodItem.imagePath" alt="{{prodItem.product_name}}" class="img-responsive" style="max-height: 50px;">
                    </span>
                    <p class="card-text">{{prodItem.description}}</p>
                    <span class="card-text">Price: {{prodItem.price}}</span><br>
                    <a class="btn btn-primary" (click)="addToCart()">Add To Cart</a>
                   
                </div>
            </div>
            <!-- <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">User Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">User Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">AUserComponent</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">User Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">User Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
